**/node_modules
**/tmp

# Docker
Dockerfile
docker-compose.yml
host.lnk

.yarn/cache
.yarn/*.gz
.yarn/version*
**/package-lock.json

## private environment configuration
.env
## production files
dist

